cachetools==5.5.2
certifi==2023.7.22
charset-normalizer==3.4.2
ffmpeg-python==0.2.0
gdown==4.7.1
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
idna==3.10
oauthlib==3.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
urllib3==2.4.0
